# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like Istanbul
coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Build directories
build/
dist/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store           # macOS system files
npm-debug.log*      # npm debug logs
yarn-debug.log*     # Yarn debug logs
yarn-error.log*     # Yarn error logs

# Compiled binary addons (if any)
build/Release

# Temporary files created by editors or IDEs
.vscode/
.idea/
*.swp               # Vim swap files